<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Barcode_Check</title>

    <script type="text/javascript" src="jquery.js"></script>

    <script>
        Quagga.decodeSingle({
          readers: ['code_128_reader'],
          locate: true, // try to locate the barcode in the image
          src: '/test/fixtures/code_128/image-001.jpg' // or 'data:image/jpg;base64,' + data
        },
        function(result){
          console.log(result);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("p").click(function(){
            $(this).hide();
            });
        });
    </script>

    <script>
        function f_write(){
            var x;
            x = document.getElementById("scan_display").innerHTML;
            document.all.codef_display.value = x;
        }
    </script>

    <script>
    function myFunction()
    {
        x=document.getElementById("codef_display");  // 找到元素
        y=document.getElementById("codec_display");  // 找到元素
        s = '';
        x.innerHTML = s;
        y.innerHTML = s;
        var e = document.createEvent("MouseEvents");
        e.initEvent("click", true, true);
        document.getElementById("submit").dispatchEvent(e);
        x.focus();
    }
    </script>

    <!--<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>-->

    <!--<script>-->
    <!--function myFunction(scan1,scan2,status)-->
    <!--{-->
        <!--// var temp = $('#codef_display').val();-->
        <!--// temp = '123'-->
        <!--var code_length=scan1 + '/' + scan2 + '/' + status;-->
        <!--alert(code_length);-->
        <!--// if (code_length == 12)-->
        <!--//     {-->
        <!--//         x=document.getElementById("codef_display");  // 找到元素-->
        <!--//     }-->
        <!--// else if (code_length == 20)-->
        <!--//     {-->
        <!--//         x=document.getElementById("codec_display");  // 找到元素-->
        <!--//     }-->
    <!--// {% for key,value in form.scan.items %}-->
    <!--//     var s={{ form.scan.value|length }};-->
    <!--// {% endfor %}-->
    <!--// alert(scan)-->
    <!--// x.innerHTML=s;    // 改变内容-->
    <!--}-->
    <!--</script>-->

    <!--<script>-->
    <!--function myFunction()-->
    <!--{-->
        <!--x=document.getElementById("codef_display");  // 找到元素-->
        <!--// y=document.getElementById("codec_display");  // 找到元素-->
        <!--var scanf={{ form.scan.value }};-->
        <!--// var scanc={{ form.codec.value }};-->
        <!--x.innerHTML=scanf.toString();    // 改变内容-->
        <!--// y.innerHTML=scanc.toString();    // 改变内容-->
    <!--}-->
    <!--</script>-->

</head>
<body>
    <h2>条码对应扫描</h2>

    <table>
        <tr>
            <td><font size="16" color="blue">对应状态：</font></td>
            <td><font size="16" color="red">错误</font></td>
        </tr>
        <!--<h2 style="color:blue">对应状态：</h2><b style="color:red">错误</b>-->
    </table>


    <style type="text/css">
        ul.errorlist{
            margin:0;
            padding:0;
        }
        .errorlist li{
            background-color:red;
            color:white;
            display:block;
            font-size:10px;
            margin:0 0 3px;
            padding:4px 5px;
        }
    </style>

    <!--{% if form.errors %}-->
        <!--<p style="color:red">-->
            <!--<b>请更正以下错误：{{ form.errors }}</b>-->
        <!--</p>-->
    <!--{% endif %}-->




    <form action="" method="post">
        <!--<div class="field">-->
            <!--<label for="id_codef">工厂条码：</label>-->
            <!--{{ form.codef }}-->
            <!--{{ form.codef.errors }}-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="field">-->
            <!--<label for="id_codec">客户条码：</label>-->
            <!--{{ form.codec }}-->
            <!--{{ form.codec.errors}}-->
        <!--</div>-->
        <!--<br>-->

        <!--<div class="field">-->
            <!--<h3 style="color:green">-->
                <!--<b>工厂条码：</b><b id='codef_display'>ghi</b><br>-->
            <!--</h3>-->
        <!--</div>-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--<div class="field">-->
            <!--<h3 style="color:green">-->
                <!--<b>客户条码：</b><b id='codec_display'></b><br>-->
            <!--</h3>-->
        <!--</div>-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--<div class="field">-->
            <!--<label for="id_scan"></label>-->
            <!--<h3 style="color:green">-->
                <!--{% if not form.scan.errors %}-->
                    <!--&lt;!&ndash;{% if form.scan.value|length == 12 %}&ndash;&gt;-->
                        <!--<b id='scan_display'>{{ form.scan.value }}</b><br>-->
                    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                <!--{% endif %}-->
            <!--</h3>-->
            <!--{{ form.scan }}-->
            <!--{{ form.scan.errors}}-->
        <!--</div>-->

        <div class="field">
            <label for="id_scan1"></label>
            <h2 style="color:green">
                {% if not form.scan1.errors %}
                    {% if form.scan1.value|length == 12 %}
                        <b>工厂条码：</b>{{ form.scan1.value }}<br>
                    {% endif %}
                    <!--{% if form.scan.value|length == 20 %}-->
                        <!--<b>客户条码：</b><b id='codec_display'>{{ form.scan.value }}</b>-->
                    <!--{% endif %}-->
                {% endif %}
            </h2>
            <b id='codef_display'>{{ form.scan1 }}</b>
            {{ form.scan1.errors}}
        </div>
        <!--<br>-->
        <div class="field">
            <label for="id_scan2"></label>
            <h2 style="color:green">
                {% if not form.scan2.errors %}
                    <!--{% if form.scan1.value|length == 12 %}-->
                        <!--<b>工厂条码：</b><b id='codef_display'>{{ form.scan1.value }}</b><br>-->
                    <!--{% endif %}-->
                    {% if form.scan2.value|length == 20 %}
                        <b>客户条码：</b>{{ form.scan2.value }}
                    {% endif %}
                {% endif %}
            </h2>
            <b id='codec_display'>{{ form.scan2 }}</b>
            {{ form.scan2.errors}}
        </div>
        <br>

        <!--<div class="field">-->
            <!--<label for="id_status"></label>-->
            <!--<h3 style="color:blue">-->
                <!--{% if not form.status.errors %}-->
                    <!--&lt;!&ndash;{% if form.scan1.value|length == 12 %}&ndash;&gt;-->
                        <!--&lt;!&ndash;<b>工厂条码：</b><b id='codef_display'>{{ form.scan1.value }}</b><br>&ndash;&gt;-->
                    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                    <!--&lt;!&ndash;{% if form.scan2.value|length == 20 %}&ndash;&gt;-->
                        <!--<b>对应状态：</b><b id='status_display'>{{ form.status.value }}</b>-->
                    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
                <!--{% endif %}-->
            <!--</h3>-->
            <!--{{ form.status }}-->
            <!--{{ form.status.errors}}-->
        <!--</div>-->
        <!--<br>-->
        <input id='submit' type="submit" value="对应">
        <button type="button" onclick="myFunction()">清空</button>
        <!--<input type="submit" value="对应" onclick="f_write()">-->
        <!--<input type="button" value="对应" onclick="f_compare('{{ form.scan.value }}')">-->
    </form>

    <!--{% if form.errors %}-->
        <!--<p style="color:red">-->
            <!--<b>请更正以下错误：{{ form.errors }}</b>-->
        <!--</p>-->
    <!--{% endif %}-->

    <!--<form action="" method="post">-->
        <!--<div class="field{%if form.codef.errors%} errors {% endif %}">-->
            <!--<label for="id_codef">工厂条码(12位)：</label>-->
            <!--{{ form.codef }}-->
            <!--{% if form.codef.errors %}-->
                <!--{% for error in form.codef.errors %}-->
                    <!--{{ error }}-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
        <!--</div>  -->
        <!--<div class="field{%if form.codec.errors%} errors {% endif %}">-->
            <!--<label for="id_codec">客户条码(20位)：</label>-->
            <!--{{ form.codec }}-->
            <!--{% if form.codec.errors %}-->
                <!--{% for error in form.codec.errors %}-->
                    <!--{{ error }}-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
        <!--</div>-->
        <!--<br>-->
    <!--</form>-->

</body>
</html>