<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
<body>

    <h3>联系我们</h3>

    {% if form.errors %}
        <p style="color:blue">
            请更正以下错误：{{ form.errors }}
        </p>
    {% endif %}


    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="提交">
    </form>



    <!--
    <form action="/contact/" method="post">
        <p>主题：<input type="text" name="subject" value="{{subject}}"></p>
        <p>邮件：<input type="text" name="email" value="{{ email }}"></p>
        <p>内容：<textarea name="message" rows="10" cols="50">{{ message }}</textarea></p>

        {% if errors %}
            <ul>
                {% for error in errors %}
                <li><p style="color:blue">{{ error }}</p></li>
                {% endfor %}
            </ul>
        {% endif %}

        <input type="submit" value="提交">
    </form>
    -->
</body>
</html>